/* index.css */
.modalBox {
    background-color: #f8f9fb;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
  
    margin: 20px auto; /* Center the modal horizontally */
    margin-top: 150px ;
    z-index: 1;
  }
  
  .showMap {
    border: none;
    background-color: transparent;
    color: #007bff;
    margin: 0px;
    font-weight: 800;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media (max-width: 767px){


    .modalBox {
      background-color: #f8f9fb;
      border-radius: 10px;
      padding: 25px;
      width:300px;
      
      margin-top: 120px; 
    }
  }